<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.abdoulayekaloga.finalyear">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="org.apache.http.legacy"
        android:required="false"
        tools:ignore="WrongManifestParent" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UserModel.Update_user_profileActivity"></activity>
        <activity android:name=".UserModel.ProfileActivity" />
        <activity android:name=".UserModel.AboutUs" />
        <activity android:name=".UserModel.SetupActivity" />
        <activity android:name=".firebaseClasses.RecentBookingActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserModel.LoginActivity" />
        <activity android:name=".UserModel.RegistrationActivity" />
        <activity android:name=".UserModel.ResetPasswordActivity" />
        <activity
            android:name=".firebaseClasses.BookingActivity"
            android:label="@string/title_activity_booking"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity android:name=".firebaseClasses.CarParkingListActivity" />
        <activity
            android:name=".MapClass.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".ParserData.LiveCarParkFeedActivity" /> <!-- <activity android:name=".BaseDistanceMap"/> -->
        <activity android:name=".firebaseClasses.LoadingValuesfromFirebaseDatabase" />
        <activity android:name=".firebaseClasses.CarparkingInfoHourActivity" />
        <activity android:name=".Payment.CardDetailActivity" />
        <activity android:name=".firebaseClasses.CarParkingProductDetailActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
    </application>

</manifest>